.directories-link {
    font-size: 14px;
    text-align: left;
    color: gray;
  }
  
  .directories-link:hover {
    color: red;
  }
  
  .custom-nav-link {
    font-size: 14px;
    text-align: center;
    color: gray;
  }
  
  .custom-nav-link.active {
    color: red;
    background-color: rgb(249, 242, 253);
    border-right: 4px solid rgb(170, 5, 247);
  }
  
  .dotted-button {
    float: right;
  }
  