.search-button {
    background-color: #e8edf3; 
    color: #fff;
    border: none; 
    padding: 8px 12px; 
    border-radius: 4px; 
    cursor: pointer; 
  }

.custom-input-container:focus-within {
    border: 2px solid purple; 
    border-radius: 8px; 
    box-shadow: none; 
  }
  
.custom-input:focus {
    box-shadow: none; 
    border: 2px transparent ; 
  }
    